/* ------------------------------- Overall Styling ---------------------------------*/
*
{
    margin: 0px;
    padding: 0px;
}
a
{
    color: inherit;
}

/* ------------------------------- Navbar Styling ---------------------------------*/
nav
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
nav > header
{
    width: fit-content;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}
.nlink
{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    color: #0ea0aa;
}

/* ---------------------------- Video and Interview Section Styling ------------------------------*/
section
{
    margin: auto;
    width: 1300px;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: column;
}
section > header
{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    border: 2px solid #0ea0aa;
    text-align: center;
}
.video-sec
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
.video-sec p
{
    margin-left: 15px;
    font-weight: 600;
}

.inter-info > header
{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid orange;
    margin-bottom: 15px;
    margin-top: 15px;
}